<div class="main-content">
    <div class="back-page">
        <div class="container-fluid">
            <ul>
                <li><a href="insex.php">Home</a></li>
                <li>/</li>
                <li>Resume Boost </li>
            </ul>
        </div>
    </div>

    <section class="resumebuilder edit-contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <div class="box">
                        <form action="">
                            <div class="g60">
                                <div class="uploadoldresume">
                                    <div class="oldresume-left">
                                        <h3>Upload a New Resume</h3>
                                        <p>Use AI & ChatGPT on a different resume</p>
                                    </div>
                                    <div class="oldresume-right">
                                        <a href="#!" class="white-btn clicktouploadresume" onclick="triggerFileInput()">Upload Resume</a>
                                        <input type="file" name="" id="" class="fileuploadresume" style="display: none;">
                                    </div>
                                </div>

                                <div class="summerybx mb-0">
                                    <h3>Personal Details</h3>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>First Name<span>*</span></label>
                                                <input type="text" name="" id="" placeholder="Enter your first name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>Last Name<span>*</span></label>
                                                <input type="text" name="" id="" placeholder="Enter your last name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>Email<span>*</span></label>
                                                <input type="email" name="" id="" placeholder="Enter your email">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>Phone Number<span>*</span></label>
                                                <div class="wraper">
                                                    <div class="select-dropdown">
                                                        <a href="#" role="button" data-value="" class="click-button"><span><img src="assets/images/flag.svg" alt=""></span> <img src="assets/images/arrow-down2.svg" alt=""></a>
                                                        <ul class="select-dropdown__list">
                                                            <li data-value="1" class="select-dropdown__list-item"><img src="assets/images/flag.svg" alt=""></li>
                                                            <li data-value="2" class="select-dropdown__list-item"><img src="assets/images/flag.svg" alt=""></li>
                                                        </ul>
                                                    </div>
                                                    <input type="number" name="" id="" placeholder="(808) 555-0118">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>City<span>*</span></label>
                                                <input type="email" name="" id="" placeholder="Ex. Newport Beach">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="inputbx">
                                                        <label>State<span>*</span></label>
                                                        <input type="text" name="" id="" placeholder="Ex. CA">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="inputbx">
                                                        <label>Zip Code<span>*</span></label>
                                                        <input type="text" name="" id="" placeholder="Ex. 12345">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="inputbx">
                                                <label>Country<span>*</span></label>
                                                <input type="email" name="" value="United States" id="" placeholder="US">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="summerybx mt30">
                                    <h3>Professional Summary</h3>
                                    <p>
                                        Craft a compelling Professional Summary by succinctly highlighting your expertise, achievements, and career aspirations, tailored to the specific job you're applying for.<br>Then use our ChatGPT tool to display
                                        options to choose from.
                                    </p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="textarea">
                                                <div class="textareatop">
                                                    <div class="tt-left">
                                                        <img src="assets/images/textarea-img.svg" alt="">
                                                    </div>
                                                    <div class="tt-right">
                                                        <a href="#!" class="aibtn">
                                                            <img src="assets/images/aitool.svg" alt="">Generate ChatGPT Summary Options
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="ttmid">
                                                    <textarea name="" id=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="summerybx mt30">
                                    <h3>Work Experience</h3>
                                    <p>
                                        Update text to: Showcase your past roles by detailing your key responsibilities, notable accomplishments, and the impact you've made in each position, while aligning with the job requirements and emphasizing relevant skills and experiences. <br>Then
                                        use our ChatGPT tool to display options to choose from.
                                    </p>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>Job Title Will Come Here</h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="jobform">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>Job Title<span>*</span></label>
                                                        <input type="text" name="" id="" placeholder="Enter Your Job Title">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>Job Category<span>*</span> <span class="up-jc">Find / Add Job Category</span></label>
                                                        <input type="text" name="" id="" placeholder="Please choose a Job Category" class="disable">
                                                        <!-- <select name="" id="">
                                                            <option value=""></option>
                                                            <option value="">Management </option>
                                                            <option value="">Sales Manager</option>
                                                        </select> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Company<span>*</span></label>
                                                        <input type="text" name="" id="" placeholder="Company Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Location<span>*</span></label>
                                                        <input type="text" name="" id="" placeholder="Location">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Start Date </label>
                                                        <input type="month" name="" id="" value={{currentYearMonth}} placeholder="Location">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>End Date </label>
                                                        <input type="month" name="" id="" value={{currentYearMonth}} placeholder="Location">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="textarea">
                                                        <div class="textareatop">
                                                            <div class="tt-left">
                                                                <img src="assets/images/textarea-img.svg" alt="">
                                                            </div>
                                                            <div class="tt-right">
                                                                <a href="#!" class="aibtn">
                                                                    <img src="assets/images/aitool.svg" alt="">Generate ChatGPT Experience Options
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="ttmid">
                                                            <textarea name="" id=""></textarea>

                                                        </div>
                                                    </div>
                                                    <input type="submit" value="save" class="save">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>Administrative Associate</h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <p>Oct 2012-Present</p>
                                    </div>
                                    <div class="addedu">
                                        <a href="#!">+ Add Another Work Experience</a>
                                    </div>
                                </div>

                                <div class="summerybx mt30">
                                    <h3>Education</h3>
                                    <p>
                                        Include your education and degrees
                                    </p>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>School Name Will Display Here</h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="jobform">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>School Name</label>
                                                        <input type="text" name="" id="" placeholder="Enter School Name*">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>Degree</label>
                                                        <input type="text" name="" id="" placeholder="Degree">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Subject</label>
                                                        <input type="text" name="" id="" placeholder="Enter Subject">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Date </label>
                                                        <input type="month" name="" id="" value={{currentYearMonth}} placeholder="Location">
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>End Date </label>
                                                        <input type="date" name="" id="" placeholder="Location">
                                                    </div>
                                                </div> -->
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Location</label>
                                                        <input type="text" name="" id="" placeholder="Location">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>GPA </label>
                                                        <input type="text" name="" id="" placeholder="GPA" maxlength="4">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="submit" value="save" class="save">
                                                </div>
                                                <!-- <div class="col-lg-12">
                                                    <div class="textarea">
                                                        <div class="textareatop">
                                                            <div class="tt-left">
                                                                <img src="images/textarea-img.svg" alt="">
                                                            </div>
                                                            <div class="tt-right">
                                                                <a href="#!" class="aibtn">
                                                                    <img src="images/aitool.svg" alt="">
                                                                    Generate Summary With AI
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="ttmid">
                                                            <textarea name="" id=""></textarea>
                                                        </div>
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>Administrative Associate</h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <p>Oct 2012-Present</p>
                                    </div>
                                    <div class="addedu">
                                        <a href="#!">+ Add Another Education</a>
                                    </div>
                                </div>

                                <div class="summerybx mt30">
                                    <h3>Certifications & Licenses</h3>
                                    <p>
                                        Include relevant certifications and licenses you have achieved
                                    </p>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>Certification Name</h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="jobform">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>Certification / License</label>
                                                        <input type="text" name="" id="" placeholder="Certification / License Name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="inputbx">
                                                        <label>Organization</label>
                                                        <input type="text" name="" id="" placeholder="Organization Name">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Issued / Received Date</label>
                                                        <input type="month" value={{currentYearMonth}} name="" id="" placeholder="Location">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="inputbx">
                                                        <label>Valid Through / Expiration Date </label>
                                                        <input type="month" value={{currentYearMonth}} name="" id="" placeholder="Location">
                                                    </div>
                                                    <div class="donotexpire">
                                                        <label> <input type="checkbox" name="" id=""> Does not expire</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <input type="submit" value="save" class="save">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-bx">
                                        <div class="job-title">
                                            <h4>Finance & Accounting: CPA (Certified Public Accountant) </h4>
                                            <div class="deletebtn">
                                                <a href="#!" class="delete">
                                                    <img src="assets/images/delete.svg" alt="">
                                                </a>
                                                <a href="#!" class="downarw">
                                                    <img src="assets/images/arrow-down3.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <p>Jun 2023 to Oct 2048</p>
                                    </div>
                                    <div class="addedu">
                                        <a href="#!">+ Add Another Certification / License</a>
                                    </div>

                                </div>

                                <div class="summerybx mt30">
                                    <h3>Skills</h3>
                                    <p>
                                        Adding skills creates a skills section of your resume. However, you will get better response if you include these terms in your resume, not just in a skills section. <br>Our ChatGPT for your Work Experience will
                                        include industry related keywords.
                                    </p>
                                    <div class="inputandtag">
                                        <div class="input-search">
                                            <input type="text" class="searchInput" placeholder="Type your own skill to include ">
                                        </div>
                                        <div class="tags">
                                            <ul class="tagList">

                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <div class="btn-box mb-0">
                                    <a href="#?" class="white-btn">Cancel</a>
                                    <input type="submit" value="Save Information" class="green-btn">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="btnstop">
                        <a href="#!" class="button1"> <img src="assets/images/template.svg" alt=""> Select Template</a>
                        <a href="#!" class="green-btn">Download</a>
                    </div>
                    <div class="tempcontainer">
                        <img src="assets/images/template-large.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>