<section class="reset-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <img src="assets/images/reset-password.png" alt="">
                <h3>Reset Your Password</h3>
                <p>Enter the email address you used to register, and we’ll send you an email with a link to reset your password. </p>
                <form action="">
                    <div class="form-wrap">
                        <input type="email" name="" id="" placeholder="Enter email address ">
                        <input type="submit" (click)="sendLinkToMail()" value="Send Link" class="green-btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>