<section class="new-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <img src="assets/images/new-password.png" alt="">
                <h3>Change Password</h3>
                <p>Use this page to change the password associated with your account.</p>
                <form action="">
                    <div class="form-group">
                        <input [type]="showNewPassword ? 'text' : 'password'" id="password" class="form-control" value="" placeholder="Enter New Password">
                        <i (click)="togglePassword('new')" [ngClass]="showNewPassword ? 'fa fa-solid fa-eye' : 'fa fa-solid fa-eye-slash'"></i>
                    </div>
                    <div class="form-group">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" id="password" class="form-control" value="" placeholder="Confirm Your New Password">
                        <i (click)="togglePassword('confirm')" [ngClass]="showConfirmPassword ? 'fa fa-solid fa-eye' : 'fa fa-solid fa-eye-slash'"></i>
                    </div>
                    <input type="submit" (click)="gotoLogin()" value="Change Your Password" class="green-btn">
                </form>
            </div>
        </div>
    </div>
</section>