<div class="main-content">
    <div class="back-page">
        <div class="container-fluid">
            <ul>
                <li><a href="#?">Home</a></li>
                <li>/</li>
                <li>Search Jobs</li>
            </ul>
        </div>
    </div>

    <section class="search-job-sec1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="green-box">
                        <div class="text-wrap">
                            <h2>Find Your Next Great Job</h2>
                            <form action="">
                                <div class="form-wrap">
                                    <input type="search" name="" id="" placeholder="Enter Keywords">
                                    <div class="wraperbox">
                                        <input type="text" placeholder="Enter Location">
                                        <select name="" id="">
                                                <option value="">10 Miles</option>
                                                <option value="" selected>25 Miles</option>
                                                <option value="">50 Miles</option>
                                                <option value="">100 Miles</option>
                                            </select>
                                    </div>
                                    <div class="submitwrap">
                                        <input type="submit" value="Search Jobs" class="green-btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <p>When your Job Matching Status is Active, we notify you immediately when matching jobs are posted</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="search-job-sec2">
        <div class="container-fluid">
            <div class="box">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>Forklift Operator</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets/images/dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>Architect - Systems Design</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets/images/dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>Data Science Architect</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets/images/dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>System Architect</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets//dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>Systems Architect</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets/images/dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cart">
                            <h2>Engeered Systems Architect</h2>
                            <ul>
                                <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                <li><img src="assets/images/job.svg" alt="">Full Time</li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                                tempus urna at turpis condimentum lobortis.</p>
                            <div class="wraperbox">
                                <div class="text-wrap">
                                    <img src="assets/images/dollar.svg" alt="">
                                    <h6><span>$1000</span>/ month</h6>
                                </div>
                                <div class="btn-wrap">
                                    <a href="#?" class="normal-btn">View Details</a>
                                    <a href="#?" class="green-btn">Apply</a>
                                </div>
                            </div>
                            <div class="bmark">
                                <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li><a href="#?">1</a></li>
                            <li><a href="#?">2</a></li>
                            <li><a href="#?">3</a></li>
                            <li><a href="#?">...</a></li>
                            <li><a href="#?">8</a></li>
                            <li><a href="#?">9</a></li>
                            <li><a href="#?">10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>