<div class="main-content">
    <div class="back-page">
        <div class="container-fluid">
            <ul>
                <li><a href="#?">Home</a></li>
                <li>/</li>
                <li> Jobs</li>
            </ul>
        </div>
    </div>

    <section class="jobs-sec1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="top-part">
                            <div class="text-wrap">
                                <h2>Find Your Next Great Job</h2>
                                <form action="">
                                    <div class="form-wrap">
                                        <input type="search" name="" id="" placeholder="Enter Keywords">
                                        <div class="wraperbox">
                                            <input type="text" placeholder="Enter Location">
                                            <select name="" id="">
                                                <option value="">10 Miles</option>
                                                <option value="" selected>25 Miles</option>
                                                <option value="">50 Miles</option>
                                                <option value="">100 Miles</option>
                                            </select>
                                        </div>
                                        <div class="submitwrap">
                                            <input type="submit" value="Search Jobs" class="green-btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <p>When your Job Matching Status is Active, we notify you immediately when matching jobs are posted</p>
                        </div>
                        <div class="bottom-part">
                            <h2>Recent Searches</h2>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Forklift Operator</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Software Developer</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">3605 Parker Rd.</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 10 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Ethical Hacker</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">8080 Railroad St.</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Access Operator</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">8558 Green Rd.</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 03 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Scrum Master</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">775 Rolling Green Rd.</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 02 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="cart">
                                        <h3>Software Development Manager</h3>
                                        <ul>
                                            <li><img src="assets/images/mark.svg" alt="">7529 E. Pecan St.</li>
                                            <li><img src="assets/images/calender.svg" alt="">Apr 09 , 2024</li>
                                        </ul>
                                        <div class="bmark">
                                            <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                            <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="jobs-sec2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="tab-teaser">
                            <div class="tab-menu">
                                <h2>All Jobs</h2>
                                <!-- <ul>
                                    <li><a href="javascript:void(0)" class="active" data-rel="tab-1">Matching Jobs</a></li>
                                    <li><a href="javascript:void(0)" data-rel="tab-2" class="">Interested Jobs</a></li>
                                    <li><a href="javascript:void(0)" data-rel="tab-3" class="">Jobs Applied To</a></li>
                                    <li><a href="javascript:void(0)" data-rel="tab-4" class="">Not Interested</a></li>
                                </ul> -->
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Matching Jobs</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Interested Jobs</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Jobs Applied To</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Not Interested</button>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-main-box tab-content" id="pills-tabContent">
                                <!-- id="tab-1" -->
                                <div class="tab-box tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Forklift Operator</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Architect - Systems Design</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Data Science Architect</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>System Architect</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Systems Architect</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Engeered Systems Architect</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <ul class="pagination">
                                                <li><a href="#?">1</a></li>
                                                <li><a href="#?">2</a></li>
                                                <li><a href="#?">3</a></li>
                                                <li><a href="#?">...</a></li>
                                                <li><a href="#?">8</a></li>
                                                <li><a href="#?">9</a></li>
                                                <li><a href="#?">10</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- id="tab-2" -->
                                <div class="tab-box tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Forklift Operator</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Architect - Systems Design</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- id="tab-3" -->
                                <div class="tab-box tab-pane fade " id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="scroller">
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th>Apply Date</th>
                                                            <th>Job Title</th>
                                                            <th>Location</th>
                                                            <th>Job Status</th>
                                                            <th>Your Application Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Arp 02 , 2024</td>
                                                            <td>Buyer</td>
                                                            <td>7529 E. Pecan St.</td>
                                                            <td><span class="red">Closed</span></td>
                                                            <td><span class="green">Shortlisted </span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 02 , 2024</td>
                                                            <td>General Manager</td>
                                                            <td>775 Rolling Green Rd.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="orange">Under Review </span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 03 , 2024</td>
                                                            <td>Buyer</td>
                                                            <td>3890 Poplar Dr.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="green">Success </span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 04 , 2024</td>
                                                            <td>Driver</td>
                                                            <td>3605 Parker Rd.</td>
                                                            <td><span class="green">Success</span></td>
                                                            <td><span class="orange">Under Review </span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 05 , 2024</td>
                                                            <td>Regional Director</td>
                                                            <td>775 Rolling Green Rd.</td>
                                                            <td><span class="red">Closed</span></td>
                                                            <td><span class="red">Rejected</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 06 , 2024</td>
                                                            <td>Dispatcher</td>
                                                            <td>7529 E. Pecan St.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="orange">Under Review</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 07 , 2024</td>
                                                            <td>Seller</td>
                                                            <td>8080 Railroad St.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="red">Rejected</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 08 , 2024</td>
                                                            <td>Dispatcher</td>
                                                            <td>3605 Parker Rd.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="red">Rejected</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 09 , 2024</td>
                                                            <td>Scale Ticket Operator</td>
                                                            <td>8558 Green Rd.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="orange">Under Review</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Arp 10 , 2024</td>
                                                            <td>Dispatcher</td>
                                                            <td>8080 Railroad St.</td>
                                                            <td><span class="green">Open</span></td>
                                                            <td><span class="orange">Under Review</span></td>
                                                            <td>
                                                                <img src="assets/images/eye.svg" alt="">
                                                                <img src="assets/images/delete.svg" alt="">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <ul class="pagination">
                                                <li><a href="#?">1</a></li>
                                                <li><a href="#?">2</a></li>
                                                <li><a href="#?">3</a></li>
                                                <li><a href="#?">...</a></li>
                                                <li><a href="#?">8</a></li>
                                                <li><a href="#?">9</a></li>
                                                <li><a href="#?">10</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- id="tab-4" -->
                                <div class="tab-box tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Forklift Operator</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?" class="ban"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="cart">
                                                <h2>Architect - Systems Design</h2>
                                                <ul>
                                                    <li><img src="assets/images/mark.svg" alt="">Newport Beach , CA</li>
                                                    <li><img src="assets/images/calender.svg" alt="">Apr 18 , 2024</li>
                                                    <li><img src="assets/images/job.svg" alt="">Full Time</li>
                                                </ul>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                                    himenaeos. Curabitur tempus urna at turpis condimentum lobortis.</p>
                                                <div class="wraperbox">
                                                    <div class="text-wrap">
                                                        <img src="assets/images/dollar.svg" alt="">
                                                        <h6><span>$1000</span>/ month</h6>
                                                    </div>
                                                    <div class="btn-wrap">
                                                        <a href="#?" class="normal-btn">View Details</a>
                                                        <a href="#?" class="green-btn">Apply</a>
                                                    </div>
                                                </div>
                                                <div class="bmark">
                                                    <a href="#?" class="ban"><i class="fa fa-solid fa-ban"></i></a>
                                                    <a href="#?"><i class="fa fa-regular fa-bookmark"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>