<section class="login">
    <div class="white-box"></div>
    <div class="amimation">
        <div class="wrap">
            <div class="shape1">
                <div class="shape2"></div>
                <img src="assets/images/logo-big.svg" alt="" class="img2">
            </div>
            <div class="text-sec">
                <h3>Connect With Us</h3>
                <p>Create a Rapid Match Profile and we’ll notify you instantly when a matching job is posted. Be one of the first to apply, monitor the status of your application, and use our AI Resume Boost to improve your resume. </p>
                <img src="assets/images/log-img.svg" alt="">
            </div>
        </div>
        <!-- <img src="assets/images/loder.png" alt=""> -->
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 ms-auto">
                <a href="#?" class="logo"><img src="assets/images/logo-login.svg" alt=""></a>
                <h1>Login To Your Account!</h1>
                <form action="">
                    <input type="text" placeholder="Username">
                    <div class="form-group">
                        <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control" value="" placeholder="Password">
                        <i (click)="toggleIcon()" [ngClass]="showPassword ? 'fa fa-solid fa-eye' : 'fa fa-solid fa-eye-slash'"></i>
                    </div>
                    <div class="wraper">
                        <div class="check-box">
                            <input type="checkbox" name="" id="">
                            <label for="">Remember me</label>
                        </div>
                        <a href="javascript:void()" (click)="goToForgotPassword()">Forgot Password?</a>
                    </div>
                    <input type="submit" (click)="goToHome()" value="Login to your account" class="green-btn">
                </form>
                <h6>or login with</h6>
                <ul>
                    <li>
                        <a href="#?"><img src="assets/images/google.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#?"><img src="assets/images/linkedin.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#?"><img src="assets/images/microsoft.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#?"><img src="assets/images/facebook.svg" alt=""></a>
                    </li>
                </ul>
                <h4>Don’t have an account? <a href="javascript:void(0)" (click)="goToRegister()">   Register here</a></h4>
                <p>Your next great job is only a few clicks away. We have several free tools to help you. </p>
            </div>
        </div>
    </div>
</section>