<div class="main-content">
    <div class="back-page">
       <div class="container-fluid">
            <ul>
                <li><a href="#?">Home</a></li>
                <li>/</li>
                <li>Resume Boost</li>
            </ul>
        </div>
    </div>

    <section class="resume-boost">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <h2>Resume Boost </h2>
                        <div class="text-wrap">
                            <p>Ready to enhance your resume with the power of AI and ChatGPT? </p>
                            <p>Simply upload your resume, and we'll present you with ChatGPT-generated options for refining each Work Experience entry and your Resume Summary. Each option is tailored with industry-standard keywords to help your resume grab attention. </p>
                            <p>Once you have your preferred style, choose from several templates to customize your resume format. Then download and save your polished resume!</p>
                            <a href="" class="green-btn">View / Edit Your resume and Templates</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
