<div class="main-content">
    <div class="back-page">
        <div class="container-fluid">
            <ul>
                <li><a href="#?">Home</a></li>
                <li>/</li>
                <li>Interviews</li>
            </ul>
        </div>
    </div>

    <section class="interview">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="heading-bar">
                            <h2>My Interview</h2>
                            <form action="">
                                <div class="form-wrap">
                                    <select name="" id="">
                                        <option value="">Sort By</option>
                                        <option value="">Interview Date</option>
                                        <option value="">Job Title</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="table-wrap">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Interview Date</th>
                                        <th>Time</th>
                                        <th>Job Title</th>
                                        <th>Location</th>
                                        <th>Details</th>
                                        <th>Confirmed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Apr 08, 2024</td>
                                        <td>02:10 pm</td>
                                        <td>Operations manager</td>
                                        <td>8558 Green Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 15, 2024</td>
                                        <td>01:55 pm</td>
                                        <td>Software developer</td>
                                        <td>7529 E. Pecan St.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="orange">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>11:49 pm</td>
                                        <td>Bookkeeper</td>
                                        <td>3605 Parker Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="orange">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>05:51 am</td>
                                        <td>Construction worker</td>
                                        <td>8558 Green Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>12:23 pm</td>
                                        <td>Truck Driver</td>
                                        <td>3890 Poplar Dr.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>07:40 am</td>
                                        <td>Cashier</td>
                                        <td>8080 Railroad St.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="orange">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>12:01 pm</td>
                                        <td>Stocking associate</td>
                                        <td>775 Rolling Green Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>01:55 pm</td>
                                        <td>Software developer</td>
                                        <td>7529 E. Pecan St.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="orange">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>11:49 pm</td>
                                        <td>Bookkeeper</td>
                                        <td>3605 Parker Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>05:51 am</td>
                                        <td>Construction worker</td>
                                        <td>8558 Green Rd.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                    <tr>
                                        <td>Apr 12, 2024</td>
                                        <td>12:23 pm</td>
                                        <td>Truck Driver</td>
                                        <td>3890 Poplar Dr.</td>
                                        <td>Lorem ipsum dolor sit amet </td>
                                        <td><span class="green">Success</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination">
                            <li><a href="#?">1</a></li>
                            <li><a href="#?">2</a></li>
                            <li><a href="#?">3</a></li>
                            <li><a href="#?">...</a></li>
                            <li><a href="#?">8</a></li>
                            <li><a href="#?">9</a></li>
                            <li><a href="#?">10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>