<div class="main-content">
    <div class="back-page">
        <div class="container-fluid">
            <ul>
                <li><a href="#?">Home</a></li>
                <li>/</li>
                <li>Resume Boost </li>
                <li>/</li>
                <li>Templates</li>
            </ul>
        </div>
    </div>

    <section class="resume-section">
        <div class="container-fluid">
            <form action="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-1.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 2</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-2.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 1</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-3.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 3</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-4.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 4</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-5.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 5</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="resume-bx">
                            <div class="rsm-img">
                                <img src="assets/images/resume-template-6.svg" alt="">
                            </div>
                            <div class="rsm-txt">
                                <h3>Template 6</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>